# Angular
/dist
/tmp
/out-tsc
/.angular

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Testing
/coverage

# Environment
.env
.env.local
.env.*.local

# Misc
.cache/
